@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    /* padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto; */
}

.vh-100 {
    height: 100vh;
}

.d_flex {
    display: flex;
}

.flex_direction {
    flex-direction: column;
}

.align_center {
    align-items: center;
}

.justify_center {
    justify-content: center;
}

.z-index2 {
    z-index: 2;
}

.content {
    padding: 21px 29px;
}

.justify_end {
    justify-content: end;
}

.justify_start {
    justify-content: start;
}

.p_relative {
    position: relative;
}

.gap_15 {
    gap: 15px;
}

.gap_30 {
    gap: 30px;
}

.pt_25 {
    padding-top: 25px;
}

.pt_33 {
    padding-top: 33px;
}

.p_1 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.p_2 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn_2 {
    display: flex;
    width: 230px;
    padding: 13px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--blue, #128DFF);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 4px;
    border: 1px solid #128DFF;
    background-color: #FFF;
    cursor: pointer;
}

.btn {
    display: flex;
    width: 230px;
    padding: 13px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--blue, #128DFF);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 4px;
    border: 1px solid #128DFF;
    background-color: #FFF;
    cursor: pointer;
}

svg {
    cursor: pointer;
}

.btn_2:hover {
    background: var(--gradient, linear-gradient(138deg, #128DFF 0%, #1444EF 100%));
    border: none;
    color: var(--white, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* .btn:hover {
    background: var(--gradient, linear-gradient(138deg, #128DFF 0%, #1444EF 100%));
    border: none;
    color: var(--white, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
} */

.sidebar {
    width: 286px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -286px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: all 500ms linear;
    border-radius: 0px 16px 16px 0px;
    background: var(--white, #FFF);
    box-shadow: 9px 4px 26px 0px rgba(0, 0, 0, 0.06);
    z-index: 3;
}

.show {
    left: 0;
}

.overlay {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #B9B9B9;
    cursor: pointer;
    display: none;
}